.custom-container {
  border: 1px solid #ccc;
  min-height: 294px;
  width: 96%;
  margin-left: 2%;
}

.custom-head-text {
  border-bottom: 1px solid #ccc;
  margin-left: 12px;
  padding-bottom: 6px;
  margin-top: 6px;
}

.custom-head-text span {
  font-size: 21px;
}

#custom-validation-message {
  display: inline;
  margin-left: 82px;
  background-color: #f9eb4f;
}

.text-search {
  float: right;
  margin-right: 7px;
}

.custom-left-box {
  border: 1px solid #ccc;
  height: 555px;
  width: 37%;
  display: inline-block;
  overflow-y: scroll;
}

.custom-right-box {
  border: 1px solid #ccc;
  height: 260px;
  width: 62%;
  display: inline-block;
  vertical-align: top;
}

#addNewCustomer {
  background-color: white;
  border: 2px solid #ccc;
  margin-left: 117px;
}

#addNewCustomer span {
  font-size: 17px;
}

.thumbnail {
  /*    min-height: 111px;*/
  height: 144px;
  margin-top: -25px;
}

.thumbnail small {
  font-size: 19px;
}

.customer-block {
  border: 1px solid #ccc;
  height: 102px;
  margin: 3%;
}

.customer-thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 18px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 90px;
  margin-top: 5px;
}

.customer-block span {
  vertical-align: -36px;
}

.custom-right-box span {
  vertical-align: -36px;
  padding-left: 24px;
}

.custom-right-box .title {
  padding-left: 24px;
}

.detail-thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 163px;
  display: inline-block;
  float: right;
  width: 187px;
  margin-right: 17px;
  margin-top: -41px;
}

.listing-image{
  width: 68px;
  height: 81px;
}

.detail-image {
  width: 185px;
  height: 161px;
  padding: 4px;
}

#filedrag
{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}