.vl {
    border-left: 2px solid black;
    height: 500px;
    margin-bottom: 10px;
    background: aqua;
}

.border {
    border: 2px solid;
    color: black;
    height: 500px;
}

.red_text{
    color: red;
}

.warning_text{
    color: red;
    position: absolute;
    left: 50%;
    vertical-align: baseline;

}

.form1 {
    position: absolute;
    left: 0%;
    margin: 5%;
    width: 50%;
}

.form2 {
    position: absolute;
    margin: 5%;
    width: 50%;
    left: 50%;
}

.hspacer {
    width: 2px;
    position: absolute;
    left: 50%;
    background-color: black;
    height: 435px;
}

.inputboxform1 {
    position: absolute;
    left: 20%;
    vertical-align: baseline;
}

.inputboxform2 {
    position: absolute;
    left: 20%;
}

input[type="checkbox"]{
    vertical-align: baseline;
    align-items: flex-end;
}